[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Paul Jolly (myitcv)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Paul Jolly (myitcv)
	label-Verified = -1..+1 group user/Paul Jolly (myitcv)
	push = group user/Paul Jolly (myitcv)
	read = group user/Paul Jolly (myitcv)
	rebase = group user/Paul Jolly (myitcv)
	removeReviewer = group user/Paul Jolly (myitcv)
	submit = group user/Paul Jolly (myitcv)
[access "refs/heads/*"]
	create = group user/Paul Jolly (myitcv)
	push = +force group user/Paul Jolly (myitcv)
	pushMerge = group user/Paul Jolly (myitcv)
	read = group user/Paul Jolly (myitcv)
[access "refs/tags/*"]
	push = group user/Paul Jolly (myitcv)
	push = +force group user/Paul Jolly (myitcv)
[commentlink "github pr"]
        match = "(^|\\s)(#)(\\d+)($|\\s|\\.)"
        link = https://github.com/cue-lang/cuelang.org/issues/$3
        text = $2$3
[commentlink "gerrithub"]
        match = "(CL)\\s(\\d+)"
        link = https://cuelang.org/cl/$2
[commentlink "bugzilla"]
  match = "(^|\\s)(bug\\s+#?)(\\d+)($|\\s)"
  link = http://bugs.example.com/show_bug.cgi?id=$3
  prefix = $1
  suffix = $4
  text = $2$3
